PORT=5000
NODE_ENV=development

# Database configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5402/assess_db?schema=public"

# Caching & Queue (Redis)
REDIS_URL="redis://localhost:6379"

# Token Encryption Secret Keys
JWT_SECRET="developmentsupersecretkey1234!"
REFRESH_SECRET="developmentsuperrefreshkey1234!"

# Optional: Judge0 API Integration (leaves empty to fallback to Piston)
# JUDGE0_API_URL="https://judge0-extra-clean.p.rapidapi.com"
# JUDGE0_API_KEY="your-rapid-api-key"
